
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}
.title {
    font-size: 4rem;
    margin: 0;
    text-align: center;
}
.hangman {
    height:100%;
    background:#ddd;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding:3rem;
    margin-top:10px;
}
.gallows {
    height: 15rem;
    width: 10rem;
    border-left: #000 3px solid;
    border-top: #000 3px solid;
    margin: auto;
}
.small-piece{
    height: 20px;
    border-right: #000 3px solid;
}
.word{
    margin: 15px auto;
    font-size: 2rem;
}
//Thank you Ethan Thompson for the stick figure!
//https://codepen.io/ethanthompson/pen/RrjMvW
.person {
    position: relative;
    margin-right: calc(-100%);
	> div {
		position: absolute;
		&.center {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.head {
		height: 50px;
		width: 50px;
		border: solid 1px #000;
		border-radius: 50%;
	}
	.torso {
		width: 1px;
		height: 85px;
		background: #000;
		top: 51px;
	}
	.arm {
		width: 1px;
		height: 35px;
		background: #000;
		top: 55px;
		&.left {
			left: calc(50% - 1px);
			transform-origin: bottom;
			transform: rotate(-45deg);
			animation-name: wave;
			animation-duration: 10s;
			animation-iteration-count: infinite;
		}
		&.right {
			left: calc(50% - 1px);
			transform-origin: bottom;
			transform: rotate(45deg);
		}
	}
	.leg {
		width: 1px;
		height: 50px;
		background: #000;
		top: 85px;
		&.left {
			left: calc(50% - 1px);
			transform-origin: bottom;
			transform: rotate(-145deg);
		}
		&.right {
			left: calc(50%);
			transform-origin: bottom;
			transform: rotate(145deg);
		}
	}
}
.letters {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .letter {
        padding: 10px;
    }
}
