@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Mono:wght@500&display=swap");

//adding underlines to the Word
$char-w: 1ch;
$gap: 0.5 * $char-w;
$n-char: 7;
$in-w: $n-char * ($char-w + $gap);

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
}
.title {
	font-size: 4rem;
	margin: 0;
	text-align: center;
}
.hangman {
	height: 100%;
	background: #ddd;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 3rem;
	margin-top: 10px;
}
.gallows {
	height: 15rem;
	width: 10rem;
	border-left: #000 3px solid;
	border-top: #000 3px solid;
	margin: auto;
}
.small-piece {
	height: 20px;
	border-right: #000 3px solid;
}
.guess {
	margin: 15px auto;
	font-size: 2rem;
}
a {
	border: 1px solid blue;
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border-radius: 5px;
	text-decoration: none;
	color: blue;
}
button {
	border: 1px solid blue;
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border-radius: 5px;
	color: blue;
	width: 250px;
	margin: 10px auto;
}
#word {
	font-family: "Roboto Mono", monospace;
	margin: 10px auto;
	font-size: 3rem;
	text-decoration: underline;
	letter-spacing: 16px;
	color: #ddd; //used the hide the letter until it is guessed correctly.
	text-decoration: underline;
	text-decoration-color: #222;
	span {
		margin: 10px;
	}
}
// .part {
// 	visibility: hidden;
// }

//Thank you Ethan Thompson for the stick figure!
//https://codepen.io/ethanthompson/pen/RrjMvW
.person {
	position: relative;
	margin-right: calc(-100%);
	> div {
		position: absolute;
		&.center {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.head {
		height: 50px;
		width: 50px;
		border: solid 1px #000;
		border-radius: 50%;
	}
	.torso {
		width: 1px;
		height: 85px;
		background: #000;
		top: 51px;
	}
	.arm {
		width: 1px;
		height: 35px;
		background: #000;
		top: 55px;
		&.left {
			left: calc(50% - 1px);
			transform-origin: bottom;
			transform: rotate(-45deg);
			animation-name: wave;
			animation-duration: 10s;
			animation-iteration-count: infinite;
		}
		&.right {
			left: calc(50% - 1px);
			transform-origin: bottom;
			transform: rotate(45deg);
		}
	}
	.leg {
		width: 1px;
		height: 50px;
		background: #000;
		top: 85px;
		&.left {
			left: calc(50% - 1px);
			transform-origin: bottom;
			transform: rotate(-145deg);
		}
		&.right {
			left: calc(50%);
			transform-origin: bottom;
			transform: rotate(145deg);
		}
	}
}
#letters {
	text-align: center;
	cursor: pointer;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.letter {
		padding: 10px;
	}
}
