@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.hangman {
  height: 100%;
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  margin-top: 10px;
}

.gallows {
  height: 15rem;
  width: 10rem;
  border-left: #000 3px solid;
  border-top: #000 3px solid;
  margin: auto;
}

.small-piece {
  height: 20px;
  border-right: #000 3px solid;
}

.word {
  margin: 15px auto;
  font-size: 2rem;
}

.person {
  position: relative;
  margin-right: calc(-100%);
}

.person > div {
  position: absolute;
}

.person > div.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.person .head {
  height: 50px;
  width: 50px;
  border: solid 1px #000;
  border-radius: 50%;
}

.person .torso {
  width: 1px;
  height: 85px;
  background: #000;
  top: 51px;
}

.person .arm {
  width: 1px;
  height: 35px;
  background: #000;
  top: 55px;
}

.person .arm.left {
  left: calc(50% - 1px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.person .arm.right {
  left: calc(50% - 1px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.person .leg {
  width: 1px;
  height: 50px;
  background: #000;
  top: 85px;
}

.person .leg.left {
  left: calc(50% - 1px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
}

.person .leg.right {
  left: calc(50%);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}

.letters {
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letters .letter {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */